# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environment
.venv/
venv/
.env

# uv
.uv/

# FAISS / vector store
vector_store/
*.faiss
*.pkl

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

build/

data/*

node_modules/